/* GLOBAL */
body {
    font-family: Arial, sans-serif;
    background: #ccaf70;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

main {
    background: #010038;
    padding: 25px;
    border-radius: 12px;
    width: 650px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.4);
}

header h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
}

/* FORM */
form {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

input[type="text"],
input[type="date"] {
    flex: 1;
    padding: 10px;
    border-radius: 8px;
    background: #ce78b1;
    border: 1px solid #3a506b;
    color: rgb(0, 0, 0);
}

.button-row {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

/* TABLE */
.todo-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.todo-table th {
    background: #a8027f;
    padding: 10px;
    text-align: center;
}

.todo-table td {
    padding: 10px;
    border-bottom: 1px solid #3a506b;
}

.empty {
    text-align: center;
    color: #f9fafc;
}

.status.pending {
    color: #fbbf24;
}

.status.done {
    color: #34d399;
}

/* BUTTONS */
button, .btn-action {
    padding: 6px 12px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    color: white;
}

.bg-green-500 { background: #128381 !important; }
.bg-red-500 { background: #ef4444 !important; }
.bg-blue-500 { background: #3b82f6 !important; }

.btn-action {
    margin-right: 5px;
}

footer {
    margin-top: 15px;
    text-align: center;
    font-size: 14px;
    color: #ffffff;
}
